.education-comp{
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(35deg, rgb(17, 205, 239), rgb(17, 113, 239)) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.education-comp h1{
    font-size: 45px;
    color: white;
}
.education-comp .edu-card{
    display: flex;
    flex-direction:column;
    text-align: center;
    gap:20px;
    margin:20px;   
}
.education{
    display: flex;
    justify-content: center;
}
.edu-card .ecard{
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(35deg, rgb(17, 205, 239), rgb(17, 113, 239));
    box-shadow:  4px 8px 4px 4px rgba(26, 24, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
}
.ecard p{
    font-size: 20px;
}
.ecard .spans{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:60%;
    font-size: 16px;
    margin: 10px;
    color: black;
}

@media (max-width:610px) 
{
    .edu-card .ecard{
        width: 400px;
        height: 180px;
    } 
    .ecard .spans{
        display: flex;
        flex-direction:column;
}
}
@media (max-width:450px) 
{
    .edu-card .ecard{
        width: 350px;
        height: 200px;
    } 
    .ecard .spans{
        display: flex;
        flex-direction:column;
}
}