
.home-page{
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(35deg, rgb(17, 205, 239), rgb(17, 113, 239)) !important;
    display: grid;
    grid-template-columns: 2fr 1fr ;
}
.home-page .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    box-shadow:  4px 8px 4px 4px rgba(26, 24, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
}
.home-page .profile img{
    width: 350px;
    height: 500px;   
    border-radius: 50%;
}
.home-page .about-profile{
    margin: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.about-profile .greeting-section{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.greeting-section h1{
    font-size: 65px;
    color:white;
    text-transform: uppercase;  
} 
.greeting-section .typewriter{
    font-size: 35px;
    color: white;
}
.about-profile .btn button{
    margin: 15px;
    font-size: 20px;
    width: 120px;
    height: 45px;
    background: white;
    color: black;
    border: 5px solid white;
    border-radius: 3px;
    box-shadow:  4px 8px 4px 4px rgba(26, 24, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
}
.about-profile .btn button a{
    color:black;
    text-decoration: none;
}
.social-links{
    display: flex;
    flex-direction: row;
} 
.social-links a{
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin: 45px 10px;
    background:white;
    color:#0a0101;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4;
    border-radius: 50%;
    box-shadow:  4px 8px 4px 4px rgba(26, 24, 24, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)   
}
@media(max-width:830px)
{
    .home-page{
        display:flex;
        flex-direction: column-reverse;
    }
    .home-page .profile{
        background:none;
        box-shadow: none;
    }
    .home-page .profile img{
        width: 250px;
        height: 300px;   
        border-radius: 50%;
        margin-top: 3%;
    }
}
@media (max-width:490px) {
    .greeting-section h1{
        font-size: 45px;
    }
}
